.merge-col-field {
    grid-column: span 2;  /* Makes the field span 2 columns */
    /*background-color: rgb(188, 243, 173);*/
    border-radius: 1em;
    
    text-align:left;
    .amplify-field  {
        min-width: 350px;
        display: inline-block;
        position: relative;
        margin-right: 1em;
    }
  }

  @media screen and (max-width: 982px) and ( min-width: 450px) {
  
    .merge-col-field {
        .amplify-field  {
            min-width: 300px;
        }
      }

}