body {
  margin: 0;
  background: linear-gradient(180deg, rgb(38, 88, 128), rgb(255, 255, 255));
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  body {
      font-size: 0.75rem; /* Example: Decrease font size for smaller screens */
  }

  main {
      padding: 1rem; /* Example: Adjust padding for smaller screens */
  }

  header .MuiTypography-root {
    font-size: 0.65rem; /* Example: Decrease font size for smaller screens */
  }

  .list-items {
    width: 100%; /* Set parent container width to 100% */
    height: 400px; /* Set a fixed height for the parent container, adjust as needed */
    position: relative; /* Ensure proper positioning of the map container */
  }

}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 6em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}